// .text-center {
//     text-align: center;
// }

// .select-min {
//     width: 30%;
// }

// .width40 {
//     width: 40%;
// }

// .referal-quantity {
//     display: flex;
//     justify-content: space-between;
//     margin-bottom: 20px;
// }

// #tokens-methods {
//     display: flex;
//     justify-content: space-evenly;
//     margin-bottom: 20px;
// }

 #balance {
     margin-bottom: 3px;
 }
// .createRefCode {
//     margin-bottom: 20px;
// }
// #referralCode {
//     margin-right: 20px;
// }
// #cabintet {

// }
// #cabinet-a {
//     color: white;
// }

.selected-user{
    margin-bottom: 3px;
}
.userRefCode {
    margin-right: 20px;
}
.userRefCode{
    margin-bottom: 0px;
}
.nft-image {
    width: 200px; /* Измените размеры в соответствии с вашими предпочтениями */
    height: auto;
    margin-bottom: 10px;
  }